name: create-cherrypick-pr

on:
  workflow_dispatch:
    inputs:
      source:
        description: 'Source branch or commit to cherry-pick from'
        required: true
        type: string

jobs:
  pick:
    runs-on: ubuntu-24.04
    steps:
      - name: test
        shell: bash 
        run: |
          echo "foo"
